body, html {
  background-color: rgba(0, 0, 0,0.5);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  height: 150px;
  border-radius: 2px;
}

.logo {
  width: 150px;
  height: auto;
}

.spacer {
  flex: 1;
}

.headerr {
  flex: 1;
  text-align: center;
}

.headerr h1, .headerr p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  margin-left: 170px;
  color:rgb(253, 253, 253)
}

nav {
  margin-right: 20px;
}

.nav-item {
  margin-right: 15px;
  padding: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 12px;
  display: inline-block;
  padding: 8px;
  text-decoration: none;
  background: linear-gradient(to right blue and green);
  
}

.nav-item:hover {
  text-decoration: none;
  background-color: white;
  color: rgb(103, 171, 217);
}

main {
  padding: 20px;
}

main h2, main p {
  font-family: 'Roboto Slab', serif;
  color:antiquewhite
}

.gambar {
  display: flex;
  align-items: center;
}

.gambar img { 
  margin-right: 20px;
}

.gambar a{
  border: 2px solid white;
  border-radius: 20px;
  background: rgb(124, 23, 23);
  padding: 20px;
  margin-right: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-family: bold;
  font-size: 20px;

}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #232323;
  color: white;
  text-align: center;
  padding: 10px 0;
}
@media screen and (max-width: 780px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .headerr {
    margin-left: 0;
    text-align: center;
    margin-right: 170px;
    margin-top: 5px;
  }

  nav {
    margin-top: 5px;
    text-align: center;
    margin-right: 127px;
  }
  .nav-item {
    display: inline-block;
    margin-top: 10px;
    margin-left: 150px;
  }
}

.tight-bottom-margin {
  margin-bottom: 5px;
}

.tight-top-margin {
  margin-top: 5px;
}